.header {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .headerRightColumn__btn {
        width: 150px;
        background-color: rgb(0, 55, 144);
    }

    .headerLeftColumn__link {
        color: rgb(0, 55, 144);
        text-decoration: none;
        margin-right: 10px;
    }
}